*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
a{
    color: inherit;
}
body{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    background-color: rgba(2, 53, 59, 0.945);
    background-image: url(../Whatsapp_2/imagens/e62925d2af795db245dffbc42e05296b.png);
    font-family: "SF Pro Text", sans-serif;
    
}
/*.cabeçalho{
    background-image: url(../Whatsapp_2/imagens/hqdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:75px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
    
.titulo{
    background-color: rgba(15, 170, 15, 0.603);
    border: 1px solid black;
    box-shadow: 5px 10px;
    padding: 20px;
*/

.header-container{
    background-color: rgb(27, 27, 27);
    box-shadow: rgba(46, 240, 143, 0.4) 0px 5px, rgba(46, 240, 159, 0.3) 0px 10px, rgba(91, 240, 46, 0.2) 0px 15px, rgba(46, 240, 72, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    
}
.header-container h1{
    font-family: 'Press Start 2P', cursive;
    color: rgb(94, 224, 159);
    text-align: center;
    padding: 10px;
}
.nave{
    
    width: 100%;
    height: 45px;
    background-color: rgb(27, 27, 27);
    display: inline;
    text-align: center;
    position:fixed

}
.nave ul{
    list-style: none;
    line-height: 45px;
    
}
.nave ul li{
    display: inline;
}
.nave ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5em;
}

.post-title{
    text-decoration: none;
    color: whitesmoke;
    list-style: none;

}

.section-bar{
    max-width: 300px;
    height: 2px;
    border-radius: 30px;
    color: rgb(14, 223, 42);
    background-color: rgb(25, 197, 111);
    
}
.blog-post{
    
    padding: 0 1.5rem;
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: rgb(27, 27, 27);
    box-shadow: .5rem .5rem rgb(25, 197, 111);
    display: flex;
    align-items: center;
   
    margin-left: 4rem;
}
.blog-post__info{
    color: white;
}
.blogpost__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}
.blogpost__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.blogpost__img::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    box-shadow: .5rem .5rem rgb(25, 197, 111);
    

}
